:root {
  --primary: #84dd63;
  --Bcolor: #000;
  --fs: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: var(--fs);
  background-color: var(--Bcolor);
  color: #fff;
  min-height: 2000px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: var(--primary);
  border-bottom: 1px #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .nav-menu a {
  color: var(--Bcolor);
  display: inline-block;
  font-size: 1.5rem;
  margin: 0.5rem;
  transition: linear 250ml;
}

.navbar .nav-menu a:hover {
  color: aqua;
  display: inline-block;
}

.navbar .nav-logo {
  font-size: 4rem;
  font-weight: 550;
  background-image: linear-gradient(to right, green, greenyellow);
  -webkit-background-clip: text; /* Mengaplikasikan latar belakang hanya pada teks */
  color: transparent; /* Membuat teks menjadi transparan */
  background-clip: text;
}

.navbar .nav-logo span {
  color: hwb(0 16% 35% / 0.685);
}

.navbar .nav-hide a {
  color: var(--Bcolor);
  margin: 0 0.5rem;
}

#menu {
  display: none;
}

.content1 {
  min-height: 100vh;
  display: block;
  background-image: url("../img/greenA.jpg");
  opacity: 70%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.abt {
  min-height: 100vh;
  display: block;
  background-image: url("../img/greenF.jpg");
  opacity: 70%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.abt .bgs h1 {
  font-size: 5em;
  color: var(--primary);
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  line-height: 1.1;
  mix-blend-mode: hard-light;
  text-align: center;
  display: block;
}

.abt .bgs {
  padding: 10rem 7%;
  max-width: 100rem;
}

.abt .bgs p {
  font-size: 1.5rem;
  padding-top: 3rem;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  line-height: 1;
  mix-blend-mode: lighten;
  text-align: justify;
}

.abt::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  top: -5.5%;
  height: 6rem;
  background: linear-gradient(0deg, #0000003a 10%, #000000 9%, #000000c9 7%);
}

.content1::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  bottom: -5.5%;
  height: 6rem;
  background: linear-gradient(0deg, #000000 10%, #000000b7 9%, #00000065 7%);
}

.content1 .content2 {
  padding: 12rem 7%;
  max-width: 60rem;
}

.content1 .content2 h1 {
  font-size: 5em;
  color: var(--primary);
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  line-height: 1.1;
  mix-blend-mode: difference;
}

.content1 .content2 p {
  font-size: 1.5rem;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  line-height: 1.1;
  mix-blend-mode: lighten;
}

.New {
  padding: 11rem 7%;
  font-family: var(--fs);
}

.New h2 {
  text-align: center;
  font-size: 3.6rem;
  margin-bottom: 3rem;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  font-weight: 700;
  color: #fff;
  transition: transform 0.2s;
}

.New span {
  color: var(--primary);
}

.col {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.col .imG {
  flex: 0 0 calc(50% - 1rem);
  margin-bottom: 2rem;
  text-align: center;
}

.col .imG img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  transition: transform 0.2s;
}

.col .imG img:hover {
  transform: scale(1.05);
}

.col .imG p {
  color: #ffffff;
}

.col .imG span {
  color: var(--primary);
}
/*iklan*/
.iklan {
  float: left;
  width: 200%;
  margin: 10rem;
  padding: 1rem;
  background-color: #f2f2f2;
  border-radius: 1rem;
  margin-left: 0;
}

.search-box {
  text-align: center;
  padding: 2rem;
  padding-top: 5rem;
}

.search-box input[type="text"] {
  padding: 1rem;
  width: 70%;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  margin-right: 1rem;
}

.search-box button {
  padding: 1rem 2rem;
  font-size: 1.2rem;
  background-color: var(--primary);
  color: var(--Bcolor);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Bagian Kontak */
.iklan1 {
  float: left;
  width: 100%;
  margin: 2rem 0; /* Sesuaikan jarak atas dan bawah sesuai kebutuhan */
  padding: 1rem;
  background-color: #f2f2f2;
  border-radius: 1rem;
}

/* Bagian Kontak */
#Contact {
  text-align: center;
  padding: 5rem 0;
  font-size: 1.5rem;
  color: var(--primary);
}

.contact-list {
  list-style: none;
  padding: 0;
  margin: 20rem 0; /* Sesuaikan jarak atas dan bawah sesuai kebutuhan */
}

.contact-list li {
  font-size: 1.5rem;
  margin-bottom: 0;
  font-family: var(--fs);
  color: var(--primary);
}

.contact-list a {
  font-size: 1.5rem;
  margin-bottom: 0;
  font-family: Ubuntu;
  color: #fff;
}

/* ... CSS lainnya ... */

/*Laptop*/
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }

  .navbar .nav-hide a {
    display: none;
  }

  .navbar .nav-menu a::after {
    content: "";
    display: inline-block;
    border-bottom: 0.1rem solid aqua;
    transform: scale(0);
    transition: 0.2s linear;
    font-weight: 700;
    margin: 0.2rem;
    font-display: right;
  }

  .navbar .nav-menu a:hover::after {
    transform: scaleX(0.9);
  }

  .iklan {
    float: left;
    width: 200%;
    margin: 10rem;
    padding: 1rem;
    background-color: #f2f2f2;
    border-radius: 1rem;
    margin-left: 0;
  }
}

@media (max-width: 1200px) {
  .iklan {
    float: left;
    width: 150%;
    margin: 9.5rem;
    padding: 1rem;
    background-color: #f2f2f2;
    border-radius: 1rem;
    margin-left: 0;
  }
}

/*Tablet*/
@media (max-width: 968px) {
  html {
    font-size: 62.5%;
  }

  .iklan {
    float: left;
    width: 100%;
    margin: 8rem;
    padding: 1rem;
    background-color: #f2f2f2;
    border-radius: 1rem;
    margin-left: 0;
  }

  .navbar .nav-hide a {
    color: var(--Bcolor);
    margin: 0 0.5rem;
    display: flex;
  }

  #menu {
    display: inline-block;
  }

  .navbar .nav-menu {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: var(--primary);
    opacity: 93%;
    width: 31rem;
    height: 100vh;
    transition: 0.5s linear;
  }

  .navbar .nav-menu.active {
    right: 0;
  }

  .navbar .nav-menu a {
    color: var(--Bcolor);
    display: grid;
    text-align: center;
    margin-top: 3rem;
    font-size: 3rem;
    padding: 0.5px;
    transition: linear 250ms;
  }

  .navbar .nav-menu a:hover {
    color: #fff;
    display: grid;
    text-align: center;
    margin-top: 2rem;
    font-size: 4rem;
    padding: 0.5px;
  }

  .navbar .nav-menu a::after {
    display: none;
  }

  .navbar .nav-menu a:hover::after {
    display: none;
  }

  .navbar .nav-hide a:hover {
    color: #fff;
  }
}

/*Android*/
@media (max-width: 550px) {
  html {
    font-size: 45%;
  }

  .iklan {
    float: left;
    width: 100%;
    margin: 20rem;
    padding: 1rem;
    background-color: #f2f2f2;
    border-radius: 1rem;
    margin-left: 0;
  }

  .New .col {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    overflow-x: auto; /* Mengaktifkan scroll horizontal */
    -webkit-overflow-scrolling: touch; /* Memberikan efek scrolling yang lebih halus di perangkat iOS */
    scroll-snap-type: x mandatory;
  }

  .col .imG {
    scroll-snap-align: center;
    margin: 0 1.5rem 0 0; 
    min-width: 75%;
  }

  .col .imG:last-child {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

/* Aturan untuk scrollbar */
::-webkit-scrollbar {
  width: 12px;
}

/* Aturan untuk thumb scrollbar */
::-webkit-scrollbar-thumb {
  background: url('path-to-arrow-image.png'); /* Menggunakan gambar panah */
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer; /* Ganti kursor saat mengarahkan ke thumb */
}

/* Aturan saat thumb scrollbar dihover */
::-webkit-scrollbar-thumb:hover {
  background: url('path-to-hover-arrow-image.png'); /* Gambar panah saat dihover */
}

}
